<div class="jumbotron  m-25 bg-light">
    <div class="container m-5">
    <div class="display-4">Servicios electrónicos</div>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ducimus ipsa atque voluptate ex ea corporis aut omnis cum possimus!</p>
    <a href="https://www.youtube.com/watch?v=teojx2YwHyY" class="btn btn-primary btn-lg">Omega</a>
    </div>
</div>